# Auto detect text files and perform LF normalization
*        text=auto

*.cs     text diff=csharp
*.java   text diff=java
*.html   text diff=html
*.py     text diff=python executable
*.pl     text diff=perl executable
*.pm     text diff=perl
*.rb     text executable
*.css    text
*.js     text
*.sql    text
*.q      text

# Note: executable is a non-standard attribute, and it is used by the release plugin
*.sh     text eol=lf executable
/gradlew text eol=lf executable
/mvnw    text eol=lf executable

#test files, use lf so that size is same on windows as well
data/files/*.dat    text eol=lf

*.bat    text eol=crlf executable
*.cmd    text eol=crlf executable
*.csproj text merge=union eol=crlf
*.sln    text merge=union eol=crlf
